@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --bg-color: #0f0f0f;
  --btn-purple: #6e2feb;
  --bg-box: #1a1a1a;
}

body {
  background-color: var(--bg-color);
  box-sizing: border-box;
  margin: 40px 0;
  padding: 0;
  font-family: montserrat;
  text-align: -webkit-center;
}
.Contact-body {
  background-color: var(--bg-color);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: montserrat;
  text-align: -webkit-center;
}

.social {
  transition: transform 0.2s ease, background-color 0.2s ease;
}

.social:hover {
  background-color: var(--btn-purple);
  transform: scale(1.1) translateZ(0) rotate(0deg);
}

.arrow {
  transition: transform 0.2s ease;
}
.arrow:hover {
  transform: scale(1.8) translateZ(0) rotate(0deg);
}

.short-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* Start Body */
@media screen and (max-width: 768px) {
  body {
    text-align: start;
  }
}

/* End Body */

/* Start Tools */
@media screen and (max-width: 420px) {
  .childs-flex {
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    padding: 24px;
  }
}
/* End Tools */
