@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --bg-color: #0f0f0f;
  --btn-purple: #6e2feb;
  --bg-box: #1a1a1a;
}

body {
  background-color: var(--bg-color);
  box-sizing: border-box;
  margin: 40px 0;
  padding: 0;
  font-family: montserrat;
  text-align: -webkit-center;
}

.social {
  transition: transform 0.2s ease, background-color 0.2s ease;
}

.social:hover {
  background-color: var(--btn-purple);
  transform: scale(1.1) translateZ(0) rotate(0deg);
}

.arrow {
  transition: transform 0.2s ease;
}
.arrow:hover {
  transform: scale(1.8) translateZ(0) rotate(0deg);
}

/* Start LP Project */
@media screen and (max-width: 1120px) {
  .container-project {
    width: 100%;
  }
  .container-child {
    width: 46vw;
  }
  .container-child-img {
    width: 100%;
    background-size: cover;
  }
}

/* End LP Project */
/* Start skill */
@media screen and (max-width: 1120px) {
  .container-skill {
    width: 100%;
    justify-content: center;
  }
  .container-skill-child {
    width: 46vw;
  }
}
@media screen and (max-width: 768px) {
  .container-skill-child {
    width: 93vw;
  }
}
/* End skill */
/* Start About */
@media screen and (max-width: 320px) {
  .container-image {
    width: 88.75vw;
    display: flex;
    justify-content: center;
    padding: 0;
  }
}
/* End About */